{% extends "accounts/base.html" %}

{% block content-title %}{{ title }}{% endblock %}


{% block messages %}
    {{ block.super }}
    {% if auth_form.non_field_errors %}
    <div id="error_msg" class="error">
        {{ auth_form.non_field_errors }}
    </div>
    {% endif %}
{% endblock %}


{% block content-body %}
    <form action="{% url accounts:login %}" method="POST">
    {% csrf_token %}
    <fieldset><legend>User Login</legend>
        {% for field in auth_form %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
            </div>
        {%  endfor %}
    <input type="submit" value="Login" />
    <input type="hidden" name="next" value="{{ next }}" />
    </fieldset>
    </form>

{%  endblock %}