#navbar {
    background-color: #def123;
}
#navbar ul
{
    list-style: none;
    padding: 0;
    margin: 0;
    position:absolute;
}

#navbar li
{
float: left;
margin: 0 0.1em;
    margin-top: .1em;
}

#navbar li a
{
    background: #fff bottom left repeat-x;
    height: 2em;
    line-height: 2em;
    width: 9em;
    display: block;
    border: 0.1em solid #dcdce9;
    color: #0d2474;
    text-decoration: none;
    text-align: center;
}

#skip-to {
    /*display: none;*/
    position: absolute;
    margin-top: -9999px;
}

#header div {
    background-color: #112b46;
    margin: 0;
    padding-top:  .6em;
    padding-bottom: .2em;
    padding-right: 1em;
    padding-left: 1em;
    vertical-align: middle;
}
#header h1 {
    font-size: 1.2em;
    font-weight: bold;
    text-align: right;
    vertical-align: middle;
    color: #fff;
}

#main {
    clear:both;
    margin-right: .25em;
    margin-left; .25em;
    margin-bottom: -2000px;
}

#main-inner {
    margin: .5em 2em;
    padding-top: 1em;
}

#content {
    margin: 0 1em;
    padding: 0 1em;
}

