{% extends "site_base.html" %}

{% block content-title %}Summary information{% endblock %}

{% block content-body %}
<p>Summary of the harvest to date:</p>

<ul>
  <li><b>{{ tweet_count }}</b> Tweets harvested.</li>
  <li><b>{{ user_count }}</b> unique Twitter users have used {{ tag_count }} unique hashtags.</li>
  <li>On average, <b>{{ avg_per_user|floatformat:2 }}</b> tweets per user;
      current maximum is <b>{{ max_per_user }}</b> by a single user.</li>
  <li>{{ volume_count }} tweets have been posted in the last 2 hours.</li>
</ul>
{% endblock %}