{% extends 'twitter/base.html' %}

{% block content-title %}{{ title }}{% endblock %}

{% block content-body %}
    {% if form %}
        {% include 'snippets/simpleform.html' %}
    {% endif %}
    <table>
    <tr>
        <th>Screename</th>
        <th># of tweets</th>
    </tr>
    </tr>
    {% for user in users %}
      <tr>
        <td><a href="http://twitter.com/#!/{{ user.screen_name|urlize }}" target="_blank">@{{ user.screen_name }}</a></td>
        <td>
            {{ user.count }}
        </td>
      </tr>
    {% endfor %}
    </table>
{% endblock %}
